 h1, h2{
   text-align: center;
  }
  
  .flag {
  height: 90px;
  width: 400px;
  margin:auto;
  }
  
  .yellow{
   background-color: #fdb913;
   }
   
   .green {
    background-color:#006a44;
   }
   
   .red {
    background-color: #c1272d;
    }
    
    .romglag {
    margin:auto;
    height: 24px;
    width:133px;
    background-color:yellow;
    margin-top:100px;
    margin-left:50px;
    border-left:133px solid blue;
    border-right:133px solid red;
}

.hotairballoon{
  margin: auto;
  margin-top: 100px;
  width:300px;
  height: 375px;
  border:5px red dashed;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:5px;
  padding-right: 5px;
  }
  
